
/* /////////////////////////////////////////////// */
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.bg-light{
    background-color: #ecedef !important;
}
.navbar-collapse{
    text-align: center;
}
.navbar .navbar-nav .nav-item .nav-link{
    font-size:17px;
    font-family: Droid Arabic Kufi,sans-serif;    
    color: #2d383f;
    padding: 14px;
}
.navbar .navbar-nav .nav-item .nav-link:hover{
    color:rgb(209, 44, 44);
}
/* ------------------------------------------------------------------------------------------------ */
.jumbotron{
    background-color: #F9F9F9;
}
.jumbotron a{
    color: #3B97BA;
    font-weight: bold;
}
/* ------------------------------ */
#sidebar a{
    color: #2d383f;
}
@media screen and (max-width: 1000px) {
    #sidebar{
        display: none;
    }
}

@media screen and (max-width : 600px){
    .imageHide{
        display: none;
    }
}
/* -------------------------------------------- Akars Div ----------------*/
.akarBackground{
    background: url(../images/back.jpg);height: 250px;
}
.divOverlay{
    clear: both;
    margin-top : 140px;
    color: white;background-color: hsla(0,0%,100%,.85);width: 100%;height: 86px;    
}
.divOverlay a h5{
    color: #3b97ba;
}
/*------------------------------------- Footer -------------------------*/
.ficon a{
    padding: 10px 22px;
}
.ficon a .fab{
    padding: 10px;
    height: 100px;
    color: white;
}
.foot .trips a{
    font-size: 16px;
    padding: 15px 6px;
}
.foot a{
    color: #3b97ba;
    font-size: 14px;
}
.footlink .nav-item .nav-link{
    color: #2d383f;
}
@media screen and (max-width: 1200px) {
    .willHidden{
        display: none;
    }
}
/* ------------------------------ */
.card .card-footer .btn{
    background-color: white !important;
    padding: 4px 12px;
}
/* --------------------------------- */
.pagination .page-item .page-link{
    margin-left: 2px;
    font-weight: bold;
    color: red;
}
.pagination .active .page-link{
    background-color: silver;
    color: #2d383f;
}
.pagination .but .page-link{
    background-color: red;
    color: white;
}
/* -------------------------------- add Announcement --------------*/
.meza .fa{
    color: #38ae43;
}
/* --------------------------------------- page of announcement ---------------------------------- */
#demo img{
    width: 100%;
    height: 400px;
}
.line- h3 span{ 
    background:white;
    color: rgb(84, 83, 85);
    padding:0 10px; 
}
.line- h3{
    color: white;
    font-weight: bolder;
    width: 100%; 
    font-size: 22px;
    text-align: center; 
    border-bottom: 1px solid rgb(58, 8, 8);
    line-height: 0.1em;
    margin: 10px 0 20px; 
 }
 
 .announce .icons span{
    display: inline-block;
    width: 70px;
    border: 2px dotted white;
    height: 70px;
    margin: 6px;
    background-color: rgb(241, 187, 187);
}
.contrInput .form-control{
    width: 50%;
}
#imageHide{
    display: none;
}
#imageHide img{
    width: 100%;
    height: 400px;
}
.sideBar{
    color: black;border: 1px solid rgb(165, 152, 152);
}
.sideBar img{
    margin-right: auto;margin-left: auto;display: block;border: 1px solid rgb(197, 177, 177);
}
.sideBar .paragraph{
    font-size: 13px;
}
.sideBar .contac{
    font-size: 22px;background-color:#EF5E4E;
}
.modal img{
    float: right;width: 40%;margin-left: 5px;
}